a{
    text-decoration: none;
}
.hero{
    /* height: 100vh; */
    background: linear-gradient(180deg, #b6b6b6, #e1ffea22 60%);
    display: flex;
    /* align-items: center; */
    /* padding: 10px 0; */
    /* height: 100vh; */
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    gap: 20px;
    /* padding-left: 180px; */
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: 60px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img{
    width: 105px;
}

.hero-latest-btn{
    gap: 15px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #5b5b5b;   
    color: white;
    font-size: 22px;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    filter: inherit;
    transition: background-color 0.5s ease, color 0.5s ease, filter 0.5s ease;

}
.hero-latest-btn:hover{
    background-color: #c8c8c8;
    color: #000;
}
.hero-latest-btn:hover img{
    filter: invert(1);
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-right img{
    width: 400px;
}
@media screen and (max-width: 991px) {
    .hero-left{
        justify-content: start;
        /* padding-top: 50px; */
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-hand-icon img{
        width: 80px;
    }
    .hero-right img{
        width: 400px;
    }
  }

  @media screen and (max-width: 768px) {
    .hero-left{
        justify-content: start;
        /* padding-top: 50px; */
    }
    .hero-left p{
        font-size: 30px;
    }
    .hero-hand-icon img{
        width: 50px;
    }
    .hero-latest-btn{
    font-size: 18px;
    margin-top: 0px;
    }
    .hero-right img{
        width: 300px;
    }
  }
  @media screen and (max-width: 570px) and (min-width: 472px) {
    .hero-left{
        justify-content: start;
        /* padding-top: 50px; */
    }
    .hero-left p{
        font-size: 30px;
    }
    .hero-hand-icon img{
        width: 50px;
    }
    .hero-latest-btn{
    font-size: 15px;
    margin-top: 0px;
    padding: 5px 3px; 
    gap: 5px;
    }
    .hero-right img{
        width: 280px;
        margin-right: 60px;
    }
  }
  @media screen and (max-width: 471px) {
    .hero-left{
        justify-content: start;
        /* padding-top: 50px; */
    }
    .hero-left p{
        font-size: 30px;
    }
    .hero-hand-icon img{
        width: 50px;
    }
    .hero-latest-btn{
    font-size: 15px;
    margin-top: 0px;
    padding: 5px 3px; 
    gap: 5px;
    }
    .hero-right img{
        width: 260px;
        margin-right: 60px;
    }
  }
  @media screen and (max-width: 400px) {
    .hero-left{
        justify-content: start;
        /* padding-top: 50px; */
    }
    .hero-left p{
        font-size: 20px;
    }
    .hero-hand-icon img{
        width: 50px;
    }
    .hero-latest-btn{
    font-size: 12px;
    margin-top: 0px;
    padding: 5px 5px;
    gap: 5px;
    }
    .hero-latest-btn img{
        width: 15px;
    }
    .hero-right img{
        width: 250px;
        margin-right: 70px;
    }
  }