.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort{
    display: flex;
    margin: 20px auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-indexSort p{
    margin-bottom: 0;
}

.shopcategory-sort{
    /* padding: 5px 15px; */
    border-radius: 10px;
    /* border: 1px solid #888; */
    margin: 20px 0;
    cursor: pointer;
}
.shopcategory-sort select{
    cursor: pointer;
    width: 100%; /* Adjust the width as needed */
    padding: 8px;
    border-top: 2px solid #e3e3e3;
    border-right: 2px solid #e3e3e3;
    border-left: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
    font-weight: 500;
    font-family: poppins;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    color: #333;
}
.shopcategory-sort option{
    font-size: 15px;
    background-color: #e4e4e4;
    color: #000;
    font-weight: 500;
   
}
.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    margin: 20px auto;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px; */
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: #5b5b5b;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.shopcategory-loadmore:hover{
    background-color: #cbc8c8;
    color: #000;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .shopcategory-sort{
        font-size: 14px;
        padding: 2px 10px;
    }
}
@media screen and (max-width: 450px) {
    .shopcategory-sort{
        font-size: 12px;
        padding: 0px 5px;
    }
    .shopcategory-indexSort img{
        width: 8px;
        margin-top: -2px;
    }
    .shopcategory-indexSort p{
        font-size: 14px;
    }
}
@media screen and (max-width: 360px) {
    .shopcategory-sort{
        font-size: 12px;
        padding: 0px 5px;
    }
    .shopcategory-indexSort img{
        width: 8px;
        /* margin-top: -5px; */
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
}